@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 23px;
    color: white;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 102px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 230, 238, 0.5);
}

.first {
    display: flex;
    margin: auto;
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    color: white;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq {
    background: black;
    color: white;
    /* padding: 30px; */
    margin: 12px auto;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    color: white;
    background-color: #414141;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 24px;
    max-width: 60vw;
    margin: 12px auto;
    cursor: pointer;
    font-size: 24px;
}

.faq-answer {
    max-width: 60vw;
    color: white;
    font-size: 24px;
    margin: 0 auto;
    padding: 20px;
    display: none;
}

.faq-answer.show {
    display: block;
}

.faqbox img {
    transition: transform 0.3s ease;
}

.faqbox.open img {
    transform: rotate(45deg);
}

.hero-faq {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 23px;
    color: white;
    padding: 0 30px;
}

.hero-faq span {
    font-size: 1rem;
}

.hero-buttons-faq {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-buttons-faq input {
    padding: 18px 220px 14px 60px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 230, 238, 0.5);
}

.btn-red-faq {
    padding: 10px 26px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    text-decoration: underline;
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


@media screen and (max-width:1300px) {

    nav {
        max-width: 90vw;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
}